.dashboard-admin-data-loker-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dashboard-admin-data-loker-dashboard-admin-data-loker {
  width: 100%;
  height: 1580px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(41, 54, 121, 1);
}
.dashboard-admin-data-loker-new-design {
  top: 0px;
  left: 24.499954223632812px;
  width: 1895.5px;
  height: 1580px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-main-dashboard {
  top: 0px;
  left: 241.9999542236328px;
  width: 1653.5px;
  height: 1580px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-background {
  top: 0px;
  left: 0px;
  width: 1653.5px;
  height: 1580px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 249, 250, 1);
}
.dashboard-admin-data-loker-footer-menu {
  top: 1538.5px;
  left: 31.500049591064453px;
  width: 1600px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-menu {
  top: -0.000024452268917229958px;
  left: 1277.5px;
  width: 322.5px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text {
  top: -0.000024452268917229958px;
  left: 281px;
  color: var(--dl-color-gray-gray400);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text002 {
  top: -0.000024452268917229958px;
  left: 212.49998474121094px;
  color: var(--dl-color-gray-gray400);
  width: 24px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text004 {
  top: -0.000024452268917229958px;
  left: 111.50001525878906px;
  color: var(--dl-color-gray-gray400);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text006 {
  color: var(--dl-color-gray-gray400);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-copyright {
  top: 0px;
  left: 0px;
  width: 372.5px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text008 {
  color: rgba(160, 174, 192, 1);
  width: 372px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text009 {
  color: var(--dl-color-gray-gray400);
  font-weight: 400;
}
.dashboard-admin-data-loker-text010 {
  color: rgba(56, 178, 172, 1);
  font-weight: 700;
}
.dashboard-admin-data-loker-text011 {
  color: var(--dl-color-gray-gray400);
  font-weight: 400;
}
.dashboard-admin-data-loker-text012 {
  color: rgba(56, 178, 172, 1);
  font-weight: 700;
}
.dashboard-admin-data-loker-breadcrumb {
  top: 22.5px;
  left: 47.999900817871094px;
  width: 1558px;
  height: 52.500022888183594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-menu1 {
  top: 0px;
  left: 1223px;
  width: 335px;
  height: 39.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-frame-input-with-addons {
  top: 0px;
  left: 0px;
  width: 199px;
  height: 39.5px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 15.000000953674316px;
  background-color: var(--dl-color-black&amp;white-white);
}
.dashboard-admin-data-loker-autoaddedframe {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.dashboard-admin-data-loker-addon {
  gap: 5px;
  height: 20px;
  display: flex;
  padding: 4px 6.000000476837158px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-admin-data-loker-icon {
  width: 15px;
  height: 15px;
}
.dashboard-admin-data-loker-frame-input-field-text {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.dashboard-admin-data-loker-text014 {
  color: var(--dl-color-gray-gray400);
  width: 63px;
  height: auto;
  font-size: 12.000000953674316px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-frame-min-width {
  display: flex;
  padding: 0 74.00000762939453px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.dashboard-admin-data-loker-content {
  width: 0px;
  height: 0px;
}
.dashboard-admin-data-loker-list-item-default {
  gap: 4px;
  top: 11.500024795532227px;
  left: 217.00001525878906px;
  width: 58px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-admin-data-loker-ion-icon-ppersondefault {
  width: 12px;
  height: 12px;
}
.dashboard-admin-data-loker-text016 {
  color: var(--dl-color-gray-gray500);
  width: 66px;
  height: auto;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-ion-icon-ssettingssharp {
  top: 14.000024795532227px;
  left: 294px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.dashboard-admin-data-loker-ion-icon-nnotificationsdefault {
  top: 14.000024795532227px;
  left: 323px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.dashboard-admin-data-loker-text018 {
  top: 9.000024795532227px;
  left: 0px;
  width: 159.5px;
  height: 43.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text019 {
  top: 23.5px;
  left: 0.5px;
  color: var(--dl-color-gray-gray700);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-sidebar {
  top: 43.999969482421875px;
  left: 0px;
  width: 233.25px;
  height: 643.0000610351562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-menu2 {
  top: 85.00006866455078px;
  left: 4.499948501586914px;
  width: 219.5px;
  height: 558px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-rectangle2 {
  top: 293px;
  left: 0px;
  width: 219px;
  height: 54px;
  position: absolute;
  border-radius: 15.000000953674316px;
}
.dashboard-admin-data-loker-sign-up {
  top: 528px;
  left: 19px;
  width: 87.5px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-rectangle3 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 12.000000953674316px;
}
.dashboard-admin-data-loker-ion-icon-rrocketsharp {
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.dashboard-admin-data-loker-text021 {
  top: 6.000006198883057px;
  left: 41.99995040893555px;
  color: var(--dl-color-gray-gray400);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-sign-in {
  top: 359px;
  left: 18.5001220703125px;
  width: 173.4998779296875px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-rectangle31 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 12.000000953674316px;
}
.dashboard-admin-data-loker-ion-icon-ddocumentdefault {
  top: 7.499975681304932px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.dashboard-admin-data-loker-text023 {
  top: 6px;
  left: 42.4998779296875px;
  color: var(--dl-color-gray-gray400);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-profile {
  top: 305px;
  left: 18.5001220703125px;
  width: 173.4998779296875px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-rectangle32 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 12.000000953674316px;
}
.dashboard-admin-data-loker-ion-icon-ppersondefault1 {
  top: 7.500012397766113px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.dashboard-admin-data-loker-text025 {
  top: 6px;
  left: 42.4998779296875px;
  color: var(--dl-color-gray-gray400);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text027 {
  top: 263px;
  left: 18.5001220703125px;
  color: rgba(255, 255, 255, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-tables {
  top: 53.999977111816406px;
  left: 18.5001220703125px;
  width: 181.4998779296875px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-mdiusers {
  top: 24px;
  left: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-admin-data-loker-text029 {
  top: 6px;
  left: 42.4998779296875px;
  color: var(--dl-color-gray-gray400);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-group2027 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-admin-data-loker-vector {
  top: 8px;
  left: 7.4998779296875px;
  width: 16px;
  height: 13px;
  position: absolute;
}
.dashboard-admin-data-loker-tables1 {
  top: 107.9999771118164px;
  left: 19px;
  width: 181.4998779296875px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-mdiusers1 {
  top: 24px;
  left: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-admin-data-loker-text031 {
  top: 6px;
  left: 42.4998779296875px;
  color: var(--dl-color-gray-gray400);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-group20271 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-admin-data-loker-vector1 {
  top: 8px;
  left: 7.4998779296875px;
  width: 16px;
  height: 13px;
  position: absolute;
}
.dashboard-admin-data-loker-tables2 {
  top: 164.99996948242188px;
  left: 19px;
  width: 181.4998779296875px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-mdiusers2 {
  top: 24px;
  left: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-admin-data-loker-text033 {
  top: 6px;
  left: 42.4998779296875px;
  color: var(--dl-color-gray-gray400);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-group20272 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-admin-data-loker-vector2 {
  top: 8px;
  left: 7.4998779296875px;
  width: 16px;
  height: 13px;
  position: absolute;
}
.dashboard-admin-data-loker-dashboard {
  top: 0px;
  left: 18.5px;
  width: 104.99995422363281px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-rectangle33 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 12.000000953674316px;
}
.dashboard-admin-data-loker-ion-icon-hhomedefault {
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.dashboard-admin-data-loker-text035 {
  top: 5.999975204467773px;
  left: 41.99995422363281px;
  color: rgba(160, 174, 192, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-logo {
  top: 0px;
  left: 17.500045776367188px;
  width: 198px;
  height: 23.000059127807617px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text037 {
  top: 2.000058174133301px;
  left: 34px;
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Condensed Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: condensed;
  text-decoration: none;
}
.dashboard-admin-data-loker-logocreativetimblack {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22.001371383666992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-icon1 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22.001371383666992px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-shape {
  top: 1.4921397450962104e-13px;
  left: -2.984279490192421e-13px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.dashboard-admin-data-loker-path {
  top: 4.137571334838867px;
  left: 3.081974983215332px;
  width: 5px;
  height: 3px;
  position: absolute;
}
.dashboard-admin-data-loker-path1 {
  top: 4.137571334838867px;
  left: 13.460993766784668px;
  width: 5px;
  height: 3px;
  position: absolute;
}
.dashboard-admin-data-loker-path2 {
  top: 14.486326217651367px;
  left: 8.285944938659668px;
  width: 5px;
  height: 3px;
  position: absolute;
}
.dashboard-admin-data-loker-vector6 {
  top: 50.50006103515625px;
  left: 0px;
  width: 233px;
  height: 1px;
  position: absolute;
  box-sizing: content-box;
}
.dashboard-admin-data-loker-line10 {
  top: 533px;
  left: 29px;
  width: 201px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-first-card {
  top: 159px;
  left: 360px;
  width: 1453px;
  height: 519px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-background1 {
  top: 0px;
  left: 0px;
  width: 1453px;
  height: 519px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-admin-data-loker-list {
  top: 107px;
  left: 20.99990463256836px;
  width: 1403px;
  height: 213.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-items {
  top: 46.49999237060547px;
  left: 0px;
  width: 1402.500244140625px;
  height: 167.00001525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-fix-platform-errors {
  top: 124.00001525878906px;
  left: 0px;
  width: 1402.500244140625px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-line {
  top: 43px;
  left: 1.500244140625px;
  width: 1401px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-vector5 {
  top: 0px;
  left: 0px;
  width: 1401px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-content01 {
  top: 0px;
  left: 0px;
  width: 968.0001831054688px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-progress {
  top: 0px;
  left: 843.0001831054688px;
  width: 125px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-line2 {
  top: 24px;
  left: -0.000048904537834459916px;
  width: 125px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-line3 {
  top: 24px;
  left: -0.000048904537834459916px;
  width: 125px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-text039 {
  color: var(--dl-color-teal-teal300);
  width: 36px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-budget {
  top: 2.5px;
  left: 665.9999389648438px;
  width: 148px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text041 {
  color: var(--dl-color-gray-gray700);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-title {
  top: 2.5px;
  left: 0px;
  width: 231px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text043 {
  color: var(--dl-color-gray-gray700);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-title1 {
  top: 2.5px;
  left: 452px;
  width: 127px;
  height: 19.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text045 {
  color: var(--dl-color-gray-gray700);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-progress-track {
  top: 61.99998474121094px;
  left: 0.000244140625px;
  width: 1402.5px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-line1 {
  top: 43px;
  left: 1.5px;
  width: 1401px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-vector51 {
  top: 0px;
  left: 0px;
  width: 1401px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-content02 {
  top: 0px;
  left: 0px;
  width: 967.9999389648438px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-progress1 {
  top: 0px;
  left: 842.9999389648438px;
  width: 125px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-line21 {
  top: 24.000003814697266px;
  left: -0.000048904537834459916px;
  width: 125px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-line31 {
  top: 24.000003814697266px;
  left: -0.000048904537834459916px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-text047 {
  color: var(--dl-color-teal-teal300);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-budget1 {
  top: 2.5px;
  left: 665.9996948242188px;
  width: 148px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text049 {
  color: var(--dl-color-gray-gray700);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-title2 {
  top: 2.5px;
  left: 0px;
  width: 192.999755859375px;
  height: 19.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text051 {
  color: var(--dl-color-gray-gray700);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-title3 {
  top: 2.5px;
  left: 451.999755859375px;
  width: 132.5px;
  height: 19.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text053 {
  color: var(--dl-color-gray-gray700);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-soft-uixd {
  top: 0px;
  left: -0.00004863739013671875px;
  width: 1402.5px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-line2 {
  top: 43px;
  left: 1.500244140625px;
  width: 1401px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-vector4 {
  top: 0px;
  left: 0px;
  width: 1401px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-content03 {
  top: 0px;
  left: 0px;
  width: 968.0001831054688px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-progress2 {
  top: 0px;
  left: 843.0001831054688px;
  width: 125px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-line22 {
  top: 24.0000057220459px;
  left: -0.000048904537834459916px;
  width: 125px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-line32 {
  top: 24.0000057220459px;
  left: -0.000048904537834459916px;
  width: 82px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-text055 {
  color: var(--dl-color-teal-teal300);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-budget2 {
  top: 2.5px;
  left: 665.9999389648438px;
  width: 124px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text057 {
  color: var(--dl-color-gray-gray700);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-title4 {
  top: 3.5px;
  left: 0px;
  width: 231px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text059 {
  color: var(--dl-color-gray-gray700);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-title5 {
  top: 3.5px;
  left: 452px;
  width: 151.5px;
  height: 19.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text061 {
  color: var(--dl-color-gray-gray700);
  width: 151px;
  height: auto;
  position: absolute;
  font-size: 14.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-lines {
  top: 27.000003814697266px;
  left: 1.9999513626098633px;
  width: 1401px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-vector3 {
  top: 0px;
  left: 0px;
  width: 1401px;
  height: 1px;
  position: absolute;
}
.dashboard-admin-data-loker-titles {
  top: 0px;
  left: 1.5001468658447266px;
  width: 1233.499755859375px;
  height: 15.00000286102295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text063 {
  left: 841.499755859375px;
  color: var(--dl-color-gray-gray400);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text065 {
  left: 1071.499755859375px;
  color: var(--dl-color-gray-gray400);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text067 {
  left: 664.499755859375px;
  color: var(--dl-color-gray-gray400);
  width: 88px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text069 {
  left: 450.499755859375px;
  color: var(--dl-color-gray-gray400);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text071 {
  color: var(--dl-color-gray-gray400);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-text073 {
  top: 28px;
  left: 21.000024795532227px;
  width: 348px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-text074 {
  color: var(--dl-color-gray-gray700);
  width: 348px;
  height: auto;
  position: absolute;
  font-size: 18.000001907348633px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-icon2 {
  top: 22.5px;
  left: 1014.5px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-morevert {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.dashboard-admin-data-loker-desktop {
  top: 726px;
  left: 1398px;
  width: 373px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(228, 228, 231, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.dashboard-admin-data-loker-start-default {
  height: 38px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 216, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px 0 0 6px;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-chevronleft {
  width: 20px;
  height: 20px;
}
.dashboard-admin-data-loker-middle-default {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  background-color: rgba(71, 99, 228, 1);
}
.dashboard-admin-data-loker-text076 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.dashboard-admin-data-loker-divider {
  width: 1px;
  height: 38px;
}
.dashboard-admin-data-loker-middle-default1 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-text077 {
  color: var(--dl-color-gray-800);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.dashboard-admin-data-loker-divider1 {
  width: 1px;
  height: 38px;
}
.dashboard-admin-data-loker-middle-default2 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-text078 {
  color: var(--dl-color-gray-800);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.dashboard-admin-data-loker-divider2 {
  width: 1px;
  height: 38px;
}
.dashboard-admin-data-loker-middle-default3 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-text079 {
  color: var(--dl-color-gray-800);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.dashboard-admin-data-loker-divider3 {
  width: 1px;
  height: 38px;
}
.dashboard-admin-data-loker-middle-default4 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-text081 {
  color: var(--dl-color-gray-800);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.dashboard-admin-data-loker-divider4 {
  width: 1px;
  height: 38px;
}
.dashboard-admin-data-loker-middle-default5 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-text082 {
  color: var(--dl-color-gray-800);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.dashboard-admin-data-loker-divider5 {
  width: 1px;
  height: 38px;
}
.dashboard-admin-data-loker-middle-default6 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-text083 {
  color: var(--dl-color-gray-800);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.dashboard-admin-data-loker-end-default {
  height: 38px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(212, 212, 216, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  background-color: var(--dl-color-default-white);
}
.dashboard-admin-data-loker-chevronright {
  width: 20px;
  height: 20px;
}
.dashboard-admin-data-loker-navlink {
  display: contents;
}
.dashboard-admin-data-loker-button {
  top: 99px;
  left: 363px;
  width: 462px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 87, 255, 1);
}
.dashboard-admin-data-loker-unstyled-button {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content04 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text085 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 26px;
}
.dashboard-admin-data-loker-button01 {
  top: 301px;
  left: 1441px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 87, 255, 1);
}
.dashboard-admin-data-loker-unstyled-button01 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content05 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text087 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button02 {
  top: 378px;
  left: 1441px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 87, 255, 1);
}
.dashboard-admin-data-loker-unstyled-button02 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content06 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text089 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button03 {
  top: 439px;
  left: 1441px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 87, 255, 1);
}
.dashboard-admin-data-loker-unstyled-button03 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content07 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text091 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button04 {
  top: 301px;
  left: 1539px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 179, 32, 1);
}
.dashboard-admin-data-loker-unstyled-button04 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content08 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text093 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button05 {
  top: 378px;
  left: 1539px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 179, 32, 1);
}
.dashboard-admin-data-loker-unstyled-button05 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content09 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text095 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button06 {
  top: 437px;
  left: 1539px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 179, 32, 1);
}
.dashboard-admin-data-loker-unstyled-button06 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content10 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text097 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button07 {
  top: 301px;
  left: 1637px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 0, 0, 1);
}
.dashboard-admin-data-loker-unstyled-button07 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content11 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text099 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button08 {
  top: 378px;
  left: 1637px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 0, 0, 1);
}
.dashboard-admin-data-loker-unstyled-button08 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content12 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text101 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-button09 {
  top: 437px;
  left: 1637px;
  width: 91px;
  height: 31px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.20000000298023224) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 0, 0, 1);
}
.dashboard-admin-data-loker-unstyled-button09 {
  gap: 8px;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-admin-data-loker-content13 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.dashboard-admin-data-loker-text103 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-sign-in1 {
  top: 605px;
  left: 48px;
  width: 173.4998779296875px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-rectangle34 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 12.000000953674316px;
}
.dashboard-admin-data-loker-ion-icon-ddocumentdefault1 {
  top: 7.499975681304932px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.dashboard-admin-data-loker-text105 {
  top: 6px;
  left: 42.4998779296875px;
  color: var(--dl-color-gray-gray400);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-sign-in2 {
  top: 552px;
  left: 48px;
  width: 173.4998779296875px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-rectangle35 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 12.000000953674316px;
}
.dashboard-admin-data-loker-ion-icon-ddocumentdefault2 {
  top: 7.499975681304932px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.dashboard-admin-data-loker-text107 {
  top: 6px;
  left: 42.4998779296875px;
  color: var(--dl-color-gray-gray400);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-kepemudaan2 {
  top: 34px;
  left: 21px;
  width: 53px;
  height: 45px;
  position: absolute;
}
.dashboard-admin-data-loker-tables3 {
  top: 344px;
  left: 48px;
  width: 181.5px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-admin-data-loker-mdiusers3 {
  top: 24px;
  left: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-admin-data-loker-text109 {
  top: 6px;
  left: 42.5px;
  color: var(--dl-color-gray-gray400);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 12.000000953674316px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-admin-data-loker-group20273 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-admin-data-loker-vector3 {
  top: 8px;
  left: 7.4998779296875px;
  width: 16px;
  height: 13px;
  position: absolute;
}
