:root {
  --dl-color-gray-300: rgba(212, 212, 216, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-800: rgba(39, 39, 42, 1);
  --dl-color-gray-900: #D9D9D9;
  --dl-color-gray-3001: rgba(212, 212, 216, 1);
  --dl-color-gray-3002: rgba(212, 212, 216, 1);
  --dl-color-gray-3003: rgba(212, 212, 216, 1);
  --dl-color-gray-3004: rgba(212, 212, 216, 1);
  --dl-color-gray-3005: rgba(212, 212, 216, 1);
  --dl-color-gray-3006: rgba(212, 212, 216, 1);
  --dl-color-gray-3007: rgba(212, 212, 216, 1);
  --dl-color-gray-3008: rgba(212, 212, 216, 1);
  --dl-color-gray-3009: rgba(212, 212, 216, 1);
  --dl-color-gray-8001: rgba(39, 39, 42, 1);
  --dl-color-gray-8002: rgba(39, 39, 42, 1);
  --dl-color-gray-8003: rgba(39, 39, 42, 1);
  --dl-color-gray-8004: rgba(39, 39, 42, 1);
  --dl-color-gray-8005: rgba(39, 39, 42, 1);
  --dl-color-gray-8006: rgba(39, 39, 42, 1);
  --dl-color-gray-8007: rgba(39, 39, 42, 1);
  --dl-color-gray-8008: rgba(39, 39, 42, 1);
  --dl-color-gray-8009: rgba(39, 39, 42, 1);
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-default-gray: rgba(79, 79, 79, 1);
  --dl-color-gray-gray300: rgba(203, 213, 224, 1);
  --dl-color-gray-gray400: rgba(160, 174, 192, 1);
  --dl-color-gray-gray500: rgba(113, 128, 150, 1);
  --dl-color-gray-gray700: rgba(45, 55, 72, 1);
  --dl-color-teal-teal300: rgba(79, 209, 197, 1);
  --dl-color-text-primary: rgba(0, 0, 0, 0.8700000047683716);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-black: rgba(0, 0, 0, 1);
  --dl-color-default-gray1: rgba(79, 79, 79, 1);
  --dl-color-default-gray2: rgba(79, 79, 79, 1);
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-color-gray-gray4001: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4002: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4003: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4004: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4005: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4006: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4007: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4008: rgba(160, 174, 192, 1);
  --dl-color-gray-gray4009: rgba(160, 174, 192, 1);
  --dl-color-gray-gray5001: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5002: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5003: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5004: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5005: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5006: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5007: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5008: rgba(113, 128, 150, 1);
  --dl-color-gray-gray5009: rgba(113, 128, 150, 1);
  --dl-color-gray-gray7001: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7002: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7003: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7004: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7005: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7006: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7007: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7008: rgba(45, 55, 72, 1);
  --dl-color-gray-gray7009: rgba(45, 55, 72, 1);
  --dl-color-teal-teal3001: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3002: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3003: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3004: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3005: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3006: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3007: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3008: rgba(79, 209, 197, 1);
  --dl-color-teal-teal3009: rgba(79, 209, 197, 1);
  --dl-color-text-primary1: rgba(0, 0, 0, 0.8700000047683716);
  --dl-color-text-primary2: rgba(0, 0, 0, 0.8700000047683716);
  --dl-color-text-primary3: rgba(0, 0, 0, 0.8700000047683716);
  --dl-color-text-primary4: rgba(0, 0, 0, 0.8700000047683716);
  --dl-color-text-primary5: rgba(0, 0, 0, 0.8700000047683716);
  --dl-color-text-primary6: rgba(0, 0, 0, 0.8700000047683716);
  --dl-radius-radius-round: 50%;
  --dl-color-default-black1: rgba(0, 0, 0, 1);
  --dl-color-default-black2: rgba(0, 0, 0, 1);
  --dl-color-default-white1: rgba(255, 255, 255, 1);
  --dl-color-default-white2: rgba(255, 255, 255, 1);
  --dl-color-default-white3: rgba(255, 255, 255, 1);
  --dl-color-default-white4: rgba(255, 255, 255, 1);
  --dl-color-default-white5: rgba(255, 255, 255, 1);
  --dl-color-default-white6: rgba(255, 255, 255, 1);
  --dl-color-default-white7: rgba(255, 255, 255, 1);
  --dl-color-default-white8: rgba(255, 255, 255, 1);
  --dl-color-default-white9: rgba(255, 255, 255, 1);
  --dl-color-gray-gray40010: rgba(160, 174, 192, 1);
  --dl-color-gray-gray40011: rgba(160, 174, 192, 1);
  --dl-color-gray-gray40012: rgba(160, 174, 192, 1);
  --dl-color-gray-gray40013: rgba(160, 174, 192, 1);
  --dl-color-gray-gray40014: rgba(160, 174, 192, 1);
  --dl-color-gray-gray50010: rgba(113, 128, 150, 1);
  --dl-color-gray-gray50011: rgba(113, 128, 150, 1);
  --dl-color-gray-gray50012: rgba(113, 128, 150, 1);
  --dl-color-gray-gray50013: rgba(113, 128, 150, 1);
  --dl-color-gray-gray50014: rgba(113, 128, 150, 1);
  --dl-color-gray-gray70010: rgba(45, 55, 72, 1);
  --dl-color-gray-gray70011: rgba(45, 55, 72, 1);
  --dl-color-gray-gray70012: rgba(45, 55, 72, 1);
  --dl-color-gray-gray70013: rgba(45, 55, 72, 1);
  --dl-color-gray-gray70014: rgba(45, 55, 72, 1);
  --dl-color-green-green400: rgba(72, 187, 120, 1);
  --dl-color-text-secondary: rgba(0, 0, 0, 0.6000000238418579);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-text-secondary1: rgba(0, 0, 0, 0.6000000238418579);
  --dl-color-text-secondary2: rgba(0, 0, 0, 0.6000000238418579);
  --dl-color-text-secondary3: rgba(0, 0, 0, 0.6000000238418579);
  --dl-color-text-secondary4: rgba(0, 0, 0, 0.6000000238418579);
  --dl-color-text-secondary5: rgba(0, 0, 0, 0.6000000238418579);
  --dl-color-text_body-light: rgba(66, 84, 102, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-background-paper: rgba(255, 255, 255, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-background-paper1: rgba(255, 255, 255, 1);
  --dl-color-background-paper2: rgba(255, 255, 255, 1);
  --dl-color-background-paper3: rgba(255, 255, 255, 1);
  --dl-color-background-paper4: rgba(255, 255, 255, 1);
  --dl-color-background-paper5: rgba(255, 255, 255, 1);
  --dl-color-background-paper6: rgba(255, 255, 255, 1);
  --dl-color-theme_dark-default: rgba(22, 25, 44, 1);
  --dl-color-theme_white-default: rgba(255, 255, 255, 1);
  --dl-color-theme_white-default1: rgba(255, 255, 255, 1);
  --dl-color-theme_white-default2: rgba(255, 255, 255, 1);
  --dl-color-theme_primary-default: rgba(76, 111, 255, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-theme_primary-default1: rgba(76, 111, 255, 1);
  --dl-color-theme_primary-default2: rgba(76, 111, 255, 1);
  --dl-color-default-secondarycolortext: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext1: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext2: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext3: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext4: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext5: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext6: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext7: rgba(146, 146, 157, 1);
  --dl-color-default-secondarycolortext8: rgba(146, 146, 157, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.ButtonBase1 {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.ComponentsButtonLarge14 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.TypographyH65 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.textSmleading-5fontNormal4 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.TypographyBody21 {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText1 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsButtonLarge12 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge8 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.textSmleading-5fontNormal3 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Secondarytext1 {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsButtonLarge3 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge1 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsInputText5 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.textSmleading-5fontNormal6 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsButtonLarge7 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.Secondarytext2 {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Regular2XLarge {
  font-size: 24px;
  font-style: normal;
  font-family: Helvetica;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputLabel3 {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsButtonLarge {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge4 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.TypographyH64 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsInputLabel5 {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.TypographyBody2 {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.textSmleading-5fontNormal {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.Headingsh5 {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ComponentsInputText7 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.textSmleading-5fontNormal7 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.textSmleading-5fontNormal8 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText6 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.TypographyH6 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.textSmleading-5fontNormal9 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsButtonLarge9 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge10 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge2 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.Secondarytext {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText8 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsButtonLarge5 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsInputLabel {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText3 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.textSmleading-5fontNormal11 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.TextSmallRegular {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText2 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.TypographyH63 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge13 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.textSmleading-5fontNormal1 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputLabel1 {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.textSmleading-5fontNormal5 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ButtonBase2 {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ComponentsButtonLarge6 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.textSmleading-5fontNormal2 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.ButtonBase {
  font-size: 12px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.ComponentsButtonLarge15 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsInputLabel4 {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.TypographyH62 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsInputLabel2 {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText4 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputLabel6 {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsButtonLarge11 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.textSmleading-5fontNormal10 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.TypographyH61 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsButtonLarge16 {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.ComponentsInputText9 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.ComponentsInputText10 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
